{% extends 'base.html' %}

{% block content %}
<h2>Liste des emprunts de véhicules</h2>
<a href="{% url 'setting:emprunt_add' %}" class="btn btn-primary">Ajouter un emprunt</a>
<table class="table">
    <thead>
        <tr>
            <th>Véhicule</th>
            <th>Date de sortie</th>
            <th>Date de retour</th>
            <th>Utilisateur</th>
            <th>Chauffeur</th>
            <th>Mission</th>
            <th>Panne</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for emprunt in emprunts %}
        <tr>
            <td>{{ emprunt.vehicule }}</td>
            <td>{{ emprunt.date_sortie|date:"d/m/Y H:i" }}</td>
            <td>{{ emprunt.date_retour|date:"d/m/Y H:i" }}</td>
            <td>{{ emprunt.nom_prenom }}</td>
            <td>{{ emprunt.nom_chauffeur }}</td>
            <td>{{ emprunt.mission }}</td>
            <td>{{ emprunt.is_panne|yesno:"Oui,Non" }}</td>
            <td>
                <a href="{% url 'setting:emprunt_edit' emprunt.pk %}" class="btn btn-sm btn-primary">Modifier</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}