{% extends 'base.html' %}

{% block content %}

<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h4>Analyse</h4>
        </div>

      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid" x-data="{is_panne: false}">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h2>{{ title }}</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.vehicule.label_tag }}
                        {{ form.vehicule }}
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            {{ form.date_sortie.label_tag }}
                            {{ form.date_sortie }}
                        </div>
                        <div class="mb-3 col">
                            {{ form.date_retour.label_tag }}
                            {{ form.date_retour }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                        <label for="">Nom & Prénoms Reponsable</label>
                            {{ form.nom_prenom }}
                        </div>
                        <div class="mb-3">
                            {{ form.nom_chauffeur.label_tag }}
                            {{ form.nom_chauffeur }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.mission.label_tag }}
                        {{ form.mission }}
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <span>En panne</span>
                            <input x-model="is_panne" type="checkbox" name="is_panne" id="id_is_panne">
                        </div>
                        <div x-show="is_panne" class="mb-3 col">
                            {{ form.type_panne.label_tag }}
                            {{ form.type_panne }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{% url 'setting:emprunt_list' %}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>



{% endblock %}