{% extends 'base.html' %}

{% block content %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h4>Plan de Passation de Marché</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
        <div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>Liste des véhicules</h2>
            <a href="{% url 'setting:vehicule_add' %}" class="btn btn-primary">Ajouter un véhicule</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Année</th>
                    <th>Immatriculation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicule in vehicules %}
                <tr>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.model }}</td>
                    <td>{{ vehicule.annee }}</td>
                    <td>{{ vehicule.immatriculation }}</td>
                    <td>
                        <a href="{% url 'setting:vehicule_edit' vehicule.pk %}" class="btn btn-sm btn-primary">Modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

{% endblock %}