{% extends 'base.html' %}


{% block content %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h4>Planification PTBA Projet</h4>
        </div>

      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row project-cards">
      <div class="col-md-12 project-list">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="" role="tab" aria-controls="top-home" aria-selected="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-target"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="6"></circle><circle cx="12" cy="12" r="2"></circle></svg>Tout</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="" role="tab" aria-controls="top-profile" aria-selected="false" tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>En cour</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="" role="tab" aria-controls="top-contact" aria-selected="false" tabindex="-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>Terminé</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-0 me-0"></div><a   class="btn  btn-outline-primary" href=""> Télécharger Modèle</a>
              <div class="form-group mb-0 me-0"></div><a data-bs-toggle="modal" data-bs-target="#create-activity-modal"  class="btn btn-primary" href=""> Joindre</a>
              <div class="form-group mb-0 me-0"></div><a data-bs-toggle="modal" data-bs-target="#create-task-modal" class="btn btn-primary" href=""> Ajouter</a>
                <div class="modal" id="create-task-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">Ajouter un Indicateur de decaissement</div>
                            <div class="modal-body">
                                <form action="{% url 'plan:create-ild' %}" method="post">
                                    {% csrf_token %}
                                    {{ IldCreateForm.as_p }}
                                    <button class="btn btn-primary">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="create-activity-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">Ajouter une activité</div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 form-group">
                                        <label for="">Fichier</label>
                                        <input type="file" class="form-control">
                                    </div>

                                    <button class="btn btn-primary">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card recent-order">
              <div class="card-header card-no-border total-revenue">
                <h4 class="m-0">Tous les projets</h4>
                <div class="header-top"></div><a href="?action=soumettre&status=20" class="btn btn-sm btn-primary">Soumettre</a>
              </div>
              <div class="card-body pt-0">
                <div class="project-table table-responsive custom-scrollbar">
                  <table class="order-table project-table w-100">
                    <thead>
                      <tr>
                        <th>Intitulé</th>
                        <th>Status</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for activite in activites %}
                        <tr>
                            <td>{{ activite.label }}</td>
                            <td>
                                {% if activite.status == 0 %}
                                    <span class="badge bg-gray">En attente de soumission</span>
                                {% elif activite.status == 10 or activite.statu s == 20 %}
                                    <span class="badge bg-info">En attente de validation</span>
                                {% elif activite.status == 30 %}
                                    <span class="badge bg-success">Validé</span>
                                {% else %}
                                    <span class="badge bg-gray">Inconnu</span>
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}



                    </tbody>
                  </table>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}