{% extends 'base.html' %}

{% block content %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h4>{{ title }}</h4>
        </div>

      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
        <div class="card" x-data={search: ''}>
            <div class="card-header">
                <h4>Rapports Consolidés</h4>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="list-product-header">
                      <div>
                        <div>
                            <input type="text" class="form-control" x-model="search" placeholder="Rechercher un rapport">
                        </div>

                        
                      
                    </div>
                    <table class="table table-responsive">
                        <tr>
                            <th>Intitulé</th>
                            <th>Roles</th>
                            <th>Departements</th>
                            <th></th>
                        </tr>
                        {% for object in rapport_consolides %}
                        	<tr>
                                <td> <b>{{ object.label }}</b></td>
                                <td>
                                    {%for role in object.roles.all %}
                                        <span class="badge bg-info">{{ role.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    {%for departement in object.departements.all %}
                                        <span class="badge bg-info">{{ departement.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>

                                    <a href="{% url 'rapport:download_file' pk=object.pk %}?next={{ request.path }}" class="btn  btn-outline-primary" title="Télécharger"><span class="fa fa-file-download"></span> </a>



                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="card" x-data={search: ''}>
            <div class="card-header">
                <h4>Rapports en cours</h4>
            </div>
            <div class="card-body">
                <div class="">
                    <div class="list-product-header">
                      <div>
                        <div>
                            <input type="text" class="form-control" x-model="search" placeholder="Rechercher un rapport">
                        </div>
                        {% if user.is_staff %}
                        <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add-rapport-modal"><i class="fa fa-plus"></i>Ajouter</a>
                        <div class="modal" id="add-rapport-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form enctype="multipart/form-data" action="" method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <button class="btn btn-primary">Enregistrer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endif %}
                      
                    </div>
                    <table class="table table-responsive">
                        <tr>
                            <th>Intitulé</th>
                            <th>Roles</th>
                            <th>Departements</th>
                            <th></th>
                        </tr>
                        {% for object in object_list %}
                        	<tr>
                                <td> <b>{{ object.label }}</b></td>
                                <td>
                                    {%for role in object.roles.all %}
                                        <span class="badge bg-info">{{ role.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    {%for departement in object.departements.all %}
                                        <span class="badge bg-info">{{ departement.name }}</span>
                                    {% endfor %}
                                </td>
                                
                                <td>

                                    <a href="{% url 'rapport:download_file' pk=object.pk %}?next={{ request.path }}" class="btn  btn-outline-info"><span class="fa fa-file-download" title="Télécharger"></span></a>
                                    
                                    <a  data-bs-toggle="modal" data-bs-target="#modal-join-rapport-{{ object.id }}" class="btn  btn-outline-info"><span class="fa fa-file-upload" title="Joindre"></span></a>
                                    <div class="modal" id="modal-join-rapport-{{ object.id }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-white">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Joindre un fichier</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'rapport:download_file' pk=object.pk %}" method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="fichier" class="form-label">Fichier</label>
                                                            <input type="file" name="fichier" id="fichier" class="form-control">
                                                        </div>
                                                        <p class="text-right mt-3">
                                                            <button type="submit" class="btn btn-primary">Joindre</button>
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a  data-bs-toggle="modal" data-bs-target="#modal-editer-rapport-{{ object.id }}" class="btn  btn-outline-info"><span class="fa fa-pencil" title="Editer"></span></a>
                                    <div class="modal modal-xl" id="modal-editer-rapport-{{ object.id }}" >
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-white">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Editer le rapport</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <iframe src="{{ object.generate_collabora_url }}?access_token={{ access_token }}" width="100%" height="400px"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="{{ object.generate_collabora_url }}" enctype="multipart/form-data" method="post">

                                        <input name="access_token" value="{{ access_token }}" type="hidden"/>
                                
                                        <button type="submit" class="btn  btn-outline-info"><span class="fa fa-file-download" title="Télécharger"></span></button>
                                
                                        </form>

                                    {% if request.user.is_staff %}
                                    <a href="{% url 'rapport:update_state' pk=object.pk %}?status=10&next={{ request.path }}" class="btn  btn-primary" title="Consolider"><span class="fa fa-check"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock %}