<td style="width: 25px">
    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
    <div class="dropdown-menu bg-primary" style="">

        <a class="dropdown-item " href="#" data-bs-toggle="modal" data-bs-target="#update-tache-modal-{{ tache.pk }}"><b>Modifier</b></a>
        <div class="modal fade" id="update-tache-modal-{{ tache.pk }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <a class="dropdown-item " href="#" data-bs-toggle="modal" data-bs-target="#update-decaissement-modal-{{ tache.pk }}"><b>Decaissmenents</b></a>
        <div class="modal fade" id="update-decaissement-modal-{{ tache.pk }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Details</a>
  </div>
</td>