{% load humanize %}
<div>
    <table class="table " x-data="{ openComposants: {}, openSousComposants: {}, openIndiacteurs: {} }">
        <tr>
            <th style="width: 25px"></th>
            <th>Composants/Indicateurs/Activités</th>

            <th>Montant Planifié</th>
            <th>Montant Engagé</th>
            <th>Total DRF</th>
            <th>Reste à payer</th>
        </tr>
        {% for composant in composants %}
            <tr style="background-color: #0a53be; color: white">
                <td style="width: 25px"></td>
                <td class="text-left">
                    <button @click="openComposants['{{ composant.pk }}'] = !openComposants['{{ composant.pk }}']" class="btn btn-link text-white white white-text" style="text-decoration: none; text-align: left">{{ composant.label }}</button>
                </td>
                <td style="color: white">{{ composant.montant_planifier|intcomma }}</td>
                <td  style="color: white">{{ composant.montant_engage }}</td>
                <td  style="color: white">{{ composant.somme_drf }}</td>
                <td  style="color: white">{{ composant.reste_a_payer }}</td>
            </tr>
                {% for sous_compo in composant.souscomposants.all %}
                    <tr x-show="openComposants['{{ composant.pk }}']" style="background-color: #7298ce">
                        <td style="width: 25px"></td>
                        <td width="500px">
                            <button
                                class="btn btn-link text-let"
                                style="color: white; text-decoration: none; text-align: left"
                                @click="openSousComposants['{{ sous_compo.pk }}'] = !openSousComposants['{{ sous_compo.pk }}']"
                            >{{ sous_compo.label }}</button>
                        </td>
                        <td style="color: white">{{ sous_compo.montant_planifier|intcomma }}</td>
                        <td style="color: white">{{ sous_compo.montant_engage|intcomma }}</td>
                        <td style="color: white">{{ sous_compo.somme_drf|intcomma }}</td>
                        <td style="color: white">{{ sous_compo.reste_a_payer|intcomma }}</td>
                    </tr>
                    {% for indicateur in sous_compo.indicateur_set.all %}
                    	<tr
                            style="background-color: #d5e3f3"
                            x-show="openSousComposants['{{ sous_compo.pk }}'] && openComposants['{{ composant.pk }}']"
                        >
                            <td style="width: 25px"></td>
                            <td>
                                <button
                                    class="btn btn-link text-left"
                                    style="text-align: left; text-decoration: none"
                                    @click="openIndiacteurs['{{ indicateur.pk }}'] = !openIndiacteurs['{{ indicateur.pk }}']"
                                >
                                    <b>{{ indicateur.type }}{{ indicateur.pk }}</b>: {{ indicateur.label }}
                                </button>
                            </td>
                            <td>{{ indicateur.montant_planifier|intcomma }}</td>
                            <td >{{ indicateur.montant_engage|intcomma }}</td>
                            <td >{{ indicateur.somme_drf|intcomma }}</td>
                            <td >{{ indicateur.reste_a_payer|intcomma }}</td>
                        </tr>

                    {% endfor %}

                {% endfor %}

        {% endfor %}

    </table>
</div>