{% load static %}
<div class="sidebar-wrapper" data-layout="stroke-svg">
          <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" height="auto" width="70" src="{% static '/assets/images/logo/logo.png' %}" alt=""></a>
            <div class="back-btn"><i class="fa fa-angle-left"> </i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
          </div>
          <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" height="auto" width="70" src="{% static '/assets/images/logo/logo.png' %}" alt=""></a></div>
          <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
              <ul x-data="{
                tdr_stats: [],
                tdr_stats_programme: [],
              }" x-init="tdr_stats = await (await fetch('{%  url 'suivi:get_tdr_stats' %}')).json(); " class="sidebar-links" id="simple-bar">
                <li class="back-btn"><a href="index.html"><img class="img-fluid" height="auto" width="70" src="{% static '/assets/images/logo/logo.png' %}" alt=""></a>
                  <div class="mobile-back text-end"> <span>Back </span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                </li>
                <li class="pin-title sidebar-main-title">
                  <div>
                    <h6>Pinned</h6>
                  </div>
                </li>
                <li class="sidebar-main-title">
                  <div>
                    <h6 class="lan-1">Général</h6>
                  </div>
                </li>
                <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'home' %}">
                    <span class="fa text-white fa-home ml-2"></span>
                    <span>Tableau de bord</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'cartographie' %}">
                        <span class="fa text-white fa-map ml-2"></span>
                      <span>Cartographie</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'analyse' %}">
                        <span class="fa text-white fa-pie-chart ml-2"></span>
                      <span>Analyse</span></a>
                </li>

                <li class="sidebar-main-title">
                  <div>
                    <h6 class="">Planification</h6>
                  </div>
                </li>

                <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'plan:ptba-projet' %}">
                    <span class="fa text-white fa-calendar ml-2"></span>
                    <span>PTBA Projet</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'plan:ptba-programme' %}">
                    <span class="fa text-white fa-calendar ml-2"></span>
                      <span>PTBA Programme</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'plan:ppm-list' %}">
                        <span class="fa text-white fa-handshake-simple ml-2"></span>
                      <span>PPM</span></a>
                </li>
                {% if request.user.role.name == 'Coordination' or request.user.is_staff %}
                <li class="sidebar-main-title">
                  <div>
                    <h6 class="">Suivi & Planification</h6>
                  </div>
                </li>

                <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'suivi:ptba-projet' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span>Suivi PTBA Projet</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{% url 'programme:suivi' %}">
                        <span class="fa text-white fa-binoculars ml-2"></span>
                      <span>PTBA Programme</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                        <span class="fa text-white fa-binoculars ml-2"></span>
                      <span>Suivi PPM</span></a>
                </li>
                {% endif %}

                <li class="sidebar-main-title">
                  <div>
                    <h6 class="">Suivi Execution Projet</h6>
                  </div>
                </li>
                <li class="sidebar-list"><a class="sidebar-link d-flex justify-content-between sidebar-title link-nav" href="{% url 'suivi:list_activities' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Point Focal</span>
                    <span x-text="tdr_stats['pointFocal'] ?? 0" class="bg-danger p-1 rounded-pill"></span>
                </a>
                </li>
                <li class="sidebar-list"><a class="sidebar-link d-flex w-100 justify-content-between sidebar-title link-nav" href="{% url 'suivi:tdr_local' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Direction Locale</span>
                        <span x-text="tdr_stats[10] ?? 0" class="bg-warning p-1 rounded-pill"></span>
                </a>
                </li>
                <li class="sidebar-list"><a class="sidebar-link sidebar-title d-flex justify-content-between link-nav" href="{% url 'suivi:tdr_technique' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Dir. Technique</span>
                    <span class="bg-light-info p-1 rounded-pill" x-text="tdr_stats[20] ?? 0"></span>
                    </a>
                </li>
                <li class="sidebar-main-title">
                  <div>
                    <h6 class="">Suivi Execution Programme</h6>
                  </div>
                </li>
                <li class="sidebar-list"><a class="sidebar-link d-flex justify-content-between sidebar-title link-nav" href="{% url 'programme:liste-tache' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Point Focal</span>
                    <span x-text="tdr_stats_programme['pointFocal'] ?? 0" class="bg-danger p-1 rounded-pill"></span>
                </a>
                </li>
                <li class="sidebar-list"><a class="sidebar-link d-flex w-100 justify-content-between sidebar-title link-nav" href="{% url 'suivi:tdr_local' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Direction Locale</span>
                        <span x-text="tdr_stats_programme[10] ?? 0" class="bg-warning p-1 rounded-pill"></span>
                </a>
                </li>
                <li class="sidebar-list"><a class="sidebar-link sidebar-title d-flex justify-content-between link-nav" href="{% url 'suivi:tdr_technique' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Dir. Technique</span>
                    <span class="bg-light-info p-1 rounded-pill" x-text="tdr_stats_programme[20] ?? 0"></span>
                    </a>
                </li>

                  <li class="sidebar-list"><a class="sidebar-link d-flex d-block justify-content-between sidebar-title link-nav" href="{% url 'suivi:tdr_coordination' %}">
                    <span class="fa text-white fa-binoculars ml-2"></span>
                    <span class="flex-grow-1">Coordination</span>
                      <span class="bg-success p-1 rounded-pill" x-text="tdr_stats_programme[30] ?? 0"></span>
                  </a>
                </li>

                <li class="sidebar-main-title">
                  <div>
                    <h6 class="">Rapportage</h6>
                  </div>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'rapport:rapport-mensuel' %}">
                        <span class="fa text-white fa-file-pen ml-2"></span>
                        <span>Rapport Mensuel</span>
                    </a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{%  url 'rapport:rapport-trimestriel' %}">
                        <span class="fa text-white fa-file-pen ml-2"></span>
                      <span>Rapport Trimestriel</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{%  url 'rapport:rapport-semestriel' %}">
                        <span class="fa text-white fa-file-pen ml-2"></span>
                      <span>Rapport Semestriel</span></a>
                </li>
                  <li class="sidebar-list"><a class="sidebar-link sidebar-title link-nav" href="{%  url 'rapport:rapport-annuel' %}">
                    <span class="fa text-white fa-file-pen ml-2"></span>
                      <span>Rapport Annuel</span></a>
                </li>
                  <li class="sidebar-list">
                      <a class="sidebar-link sidebar-title link-nav" href="{%  url 'rapport:rapport-consolide' %}">
                        <span class="fa text-white fa-file-pen ml-2"></span>
                      <span>Rapport Consolidé</span>
                  </a>
                </li>

                {% if request.user.is_staff %}
                <li class="sidebar-main-title">
                  <div>
                    <h6 class="">Paramètres</h6>
                  </div>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'create_user' %}">
                        <span class="fa text-white fa-users ml-2"></span>
                        <span>Utilisateurs</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'setting:composantes' %}">
                        <span class="fa text-white fa-boxes-stacked ml-2"></span>
                        <span>Composantes</span>
                    </a>
                </li>
                {% endif %}
              </ul>
              <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </div>
          </nav>
        </div>