{% extends 'base.html' %}


{% block content %}
    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-6">
                        <h4>Liste des taches</h4>
                    </div>

                </div>
            </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive table">
                            <table class="table">
                                <tr>
                                    <th>Activités</th>
                                    <th>Tâches</th>
                                    <th>Suivi UGP</th>
                                    <th></th>
                                </tr>
                                {% for object in object_list %}
                                    <tr>
                                       <td>{{ object.activite.description }}</td>
                                        <td style="width: 500px">{{ object.description }}</td>
                                        <td>{{ object.ugp }}</td>

                                    </tr>
                                    {% for tdr in object.tdrprogramme_set.all %}
                                        <tr style="background-color: #cccccc">
                                            <td  colspan="2">{{ tdr.label }}</td>
                                            <td></td>
                                            <td>


                                                <div class="d-flex">
                                                    <a href="{% url 'suivi:update-tdrprogram-state' pk=tdr.id %}?state=20&next={% url 'programme:liste-tache-local'  %}" class="btn btn-xs btn-success"><span class="fa fa-check"></span>Soumettre</a>
                                                    <button data-bs-target="#cancel-tdr-{{ tdr.pk }}" data-bs-toggle="modal" class="btn btn-xs btn-outline btn-danger"> <span class="fa fa-times"></span>Annuler</button>
                                                    <button class="btn btn-xs btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#add-tdr-{{ tdr.pk }}"> <span class="fa fa-file-upload"></span> joindre
                                                    </button>
                                                    <div class="modal  fade" id="add-tdr-{{ tdr.pk }}">
                                                        <div class="modal-dialog bg-white ">
                                                            <div class=" bg-white modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Ajouter un TDR à cette activité</h5>
                                                                </div>
                                                                <div class="modal-body text-black">
                                                                    <form action="{% url 'suivi:cancel_tdr' pk=tdr.pk %}?state=0&next={% url 'programme:liste-tache-local' %}" method="post"
                                                                          enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <div class="mb-3">
                                                                            <label>Motif de rejet</label>
                                                                            <textarea name="comment" class="form-control" id="" cols="30"
                                                                                      rows="10"></textarea>
                                                                        </div>
                                                                        <div>
                                                                            <label for="">Fichier</label>
                                                                            <input type="file" name="file" id=""
                                                                                   class="form-control">
                                                                        </div>
                                                                        <div class="text-right mt-3">
                                                                            <button class="btn btn-sm btn-primary">Enregistrer
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal  fade" id="cancel-tdr-{{ tdr.pk }}">
                                                        <div class="modal-dialog bg-white ">
                                                            <div class=" bg-white modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Ajouter un TDR à cette activité</h5>
                                                                </div>
                                                                <div class="modal-body text-black">
                                                                    <form action="{% url 'suivi:cancel_tdr' pk=tdr.pk %}?state=0&next={% url 'suivi:tdr_local' %}" method="post"
                                                                          enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <div class="mb-3">
                                                                            <label>Motif de rejet</label>
                                                                            <textarea name="comment" class="form-control" id="" cols="30"
                                                                                      rows="10"></textarea>
                                                                        </div>
                                                                        <div>
                                                                            <label for="">Fichier</label>
                                                                            <input type="file" name="file" id=""
                                                                                   class="form-control">
                                                                        </div>
                                                                        <div class="text-right mt-3">
                                                                            <button class="btn btn-sm btn-primary">Enregistrer
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'suivi:tdr_download' pk=tdr.id %}" class="btn btn-xs btn-outline btn-primary"> <span class="fa fa-file-download"></span>Télécharger</a>
                                                </div>




                                        </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
{% endblock %}